server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    # correct MIME type for ES modules
    types {
        text/html             html;
        text/css              css;
        text/javascript       js;
        image/jpeg            jpg jpeg;
        image/png             png;
        image/svg+xml         svg;
        audio/mpeg            mp3;
        audio/flac            flac;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        proxy_pass http://backend:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_buffering off;
        proxy_request_buffering off;
    }
}